<div class="grid-container">
  <h1 class="mat-h1"><mat-icon>dashboard</mat-icon>Dashboard</h1>

  <mat-grid-list cols="2" rowHeight="420">
    <mat-grid-tile colspan="2" rowspan="1">
      <app-card-user-login></app-card-user-login>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-card-project-list></app-card-project-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-card-project-admin-list></app-card-project-admin-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
