<mat-card style="margin: 4px;">
  <mat-card-header
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="0px"
    style="margin: 0px;"
  >
    <div
      fxFlex="75"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="7px"
    >
      <div
        mat-card-avatar
        style="height: 60px; width: 60px;"
        class="project-logo"
      ></div>

      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap="7px"
      >
        <mat-card-title>General Approval</mat-card-title>
        <mat-card-subtitle
          >http://192.168.2.48/generalapproval
          <button
            mat-icon-button
            aria-label="http://192.168.2.48/generalapproval"
          >
            <mat-icon>open_in_new</mat-icon>
          </button></mat-card-subtitle
        >
      </div>
    </div>
    <div fxFlex="25" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="7px">
      <mat-icon
        style="width: 60px; height: 60px; font-size: 50px; text-align: center;"
        >person</mat-icon
      >
      <div fxFlex>
        <mat-card-title>134</mat-card-title>
        <mat-card-subtitle>Users</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
</mat-card>
