<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
    <h1  mat-dialog-title>Approval Projek</h1>
    <button 
        (click)="onNoClick()"
        matTooltip="Tutup Dialog"
        matTooltipPosition="above"
        appChangeIconOnHover 
        IconNameEnter="remove_circle" 
        IconNameLeave="remove_circle_outline" 
        mat-icon-button color="warn" 
        aria-label="Close button for disposing dialog">
        <mat-icon >remove_circle_outline</mat-icon>
    </button>  
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px" style="margin: 10px;">
        <mat-form-field appearance="fill">
            <mat-label>Nama Projek</mat-label>
            <input matInput formControlName="namaProject" readonly/>
            <mat-error
            *ngIf="namaProject.invalid && (namaProject.dirty || namaProject.touched) && namaProject.errors.required"
            >Nama Projek belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nama API</mat-label>
            <input
            matInput
            formControlName="apiName"
            readonly
            />
            <mat-error
            *ngIf="
            apiName.invalid &&
                (apiName.dirty || apiName.touched) &&
                apiName.errors.required
            "
            >Nama API belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>URL</mat-label>
            <input
            matInput
            formControlName="url"
            readonly
            />
            <mat-error
            *ngIf="
            url.invalid &&
                (url.dirty || url.touched) &&
                url.errors.required
            "
            >Nama belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Kategori Projek</mat-label>
            <input
            matInput
            formControlName="type"
            readonly
            />
            <mat-error
            *ngIf="
            type.invalid &&
                (type.dirty || type.touched) &&
                type.errors.required
            "
            >Kategori projek belum terisi.</mat-error
            >
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row-reverse" fxLayoutAlign="space-between center" fxLayoutGap="0px">
    <button color="warn" mat-raised-button type="button" (click)="onNotApprove()" [disabled]="!form.valid && !process">Not Approve</button>
    <button color="primary" mat-raised-button type="button" (click)="onApprove()" [disabled]="!form.valid && !process">Approve</button>
</mat-dialog-actions>