<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isHandset$ | async"
  >
    <!-- <app-user-side-nav
      [Url]="user.PhotoUrl"
      [Nik]="user.Nik"
      [Name]="user.Name"
    ></app-user-side-nav> -->
    <mat-nav-list >
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      
      <a
        *appRoles="['DEVELOPER']"
        mat-list-item
        [routerLink]="['/my-project']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>developer_board</mat-icon>
        Projek Saya
      </a>
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        (click)="toggleMenuMaster()"
      >
        <mat-icon>menu</mat-icon>
        Master
      </a>
      <mat-nav-list *ngIf="showMenuMaster" class="child">
        <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/pengguna']"
        routerLinkActive="router-link-active"
        >
          <mat-icon>people</mat-icon>
          Pengguna
        </a>

      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/project']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>important_devices</mat-icon>
        Projek
      </a>
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/direktorat']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>domain</mat-icon>
        Direktorat
      </a>
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/departemen']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>domain</mat-icon>
        Departemen
      </a>
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/sub-departemen']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>domain</mat-icon>
        SubDepartemen
      </a>
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/cabang']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>domain</mat-icon>
        Cabang
      </a>
      <a
        *appRoles="['ADMIN']"
        mat-list-item
        [routerLink]="['/unit']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>domain</mat-icon>
        Unit
      </a>
      </mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(user$ | async) != null"
        fxFlex="none"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxFlex="none"
        ><img
          src="assets/defaults/logo_white_large.png"
          alt="Central Auth"
          width="175px"
      /></span>
      <div fxFlex="grow"></div>
      <button
        [matTooltip]="(theme$ | async).IsDefault ? 'Tema Terang':'Tema Gelap'"
        matTooltipPosition="above"
        [class]="(theme$ | async).IsDefault ? 'light-lighter-color':'dark-lighter-color'"
        type="button"
        mat-icon-button
        (click)="ToggleTheme()"
      >
        <mat-icon>{{
          (theme$ | async).IsDefault ? "wb_sunny" : "brightness_2"
        }}</mat-icon>
      </button>
      <button
        *ngIf="(user$ | async) != null"
        mat-icon-button
        type="button"
        matTooltip="Logout"
        matTooltipPosition="below"
        (click)="logout()"
      >
        <mat-icon>meeting_room</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
