@import "theme";
.sidenav-container {
  height: calc(100%-64px);
}

.sidenav {
  width: 200px;
  margin-top: 64px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.router-link-active {
  $primary: map-get($light-theme, primary);
  background-color: mat-color($primary, darker);
}
