<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
    <h1  mat-dialog-title>Tambah Cabang</h1>
    <button 
        (click)="onNoClick()"
        matTooltip="Tutup Dialog"
        matTooltipPosition="above"
        appChangeIconOnHover 
        IconNameEnter="remove_circle" 
        IconNameLeave="remove_circle_outline" 
        mat-icon-button color="warn" 
        aria-label="Close button for disposing dialog">
        <mat-icon >remove_circle_outline</mat-icon>
    </button>  
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px" style="margin: 10px;">
        <mat-form-field appearance="fill">
            <mat-label>Kode</mat-label>
            <input matInput formControlName="kode" cdkFocusInitial placeholder="Contoh: 02"/>
            <mat-icon matSuffix>done</mat-icon>
            <mat-error
            *ngIf="kode.invalid && (kode.dirty || kode.touched) && kode.errors.required"
            >Kode belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nama Cabang</mat-label>
            <input
            matInput
            formControlName="namaCabang"
            />
            <mat-error
            *ngIf="
                namaCabang.invalid &&
                (namaCabang.dirty || namaCabang.touched) &&
                namaCabang.errors.required
            "
            >Nama Cabang belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Singkatan Nama Cabang</mat-label>
            <input
            matInput
            formControlName="singkatan"
            />
            <mat-error
            *ngIf="
            singkatan.invalid &&
                (singkatan.dirty || singkatan.touched) &&
                singkatan.errors.required
            "
            >Singkatan Nama Cabang belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Alamat Cabang</mat-label>
            <input
            matInput
            formControlName="alamat"
            />
            <mat-error
            *ngIf="
            alamat.invalid &&
                (alamat.dirty || alamat.touched) &&
                alamat.errors.required
            "
            >Alamat Cabang belum terisi.</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Keterangan</mat-label>
            <input
            matInput
            formControlName="keterangan"
            />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row-reverse" fxLayoutAlign="space-between center" fxLayoutGap="0px">
    <button color="primary" mat-raised-button type="button" (click)="onSubmitClick()" [disabled]="!form.valid && !process">Submit</button>
</mat-dialog-actions>
