<mat-card style="margin: 4px;">
  <mat-card-header
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="0px"
    style="margin: 0px;"
  >
    <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="7px">
      <mat-icon
        style="width: 60px; height: 60px; font-size: 50px; text-align: center;"
        >person</mat-icon
      >
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3px">
        <mat-card-title>Sulaiman Triarjo</mat-card-title>
        <mat-card-subtitle>2015169765</mat-card-subtitle>
        <mat-card-subtitle
          >General Approval<button
            mat-icon-button
            aria-label="http://192.168.2.48/generalapproval"
          >
            <mat-icon>open_in_new</mat-icon>
          </button></mat-card-subtitle
        >
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3px">
      <mat-card-subtitle
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="6px"
      >
        <mat-icon>email</mat-icon>sulaimantriarjo@indomaret.co.id<button
          mat-icon-button
          aria-label="OpenModalSendEmail"
          color="primary"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-subtitle
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="6px"
      >
        <mat-icon>call</mat-icon>085755519123
      </mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>
